<%- include('partials/headerPartials.ejs') %>
<div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
				<h2 class="alert alert-info text-center rounded-start shadow">Google Like Translator NodeJS</h2>
			</div>
		</div>
	</div>
	<div class="container mt-2">
		<div class="row">
			<div class="col m-1 border border-dark-1 shadow rounded">
				<h3 class="alert alert-warning text-center mt-3">Source Text</h3>
				<form action="/translate" method="post">
					<div class="mb-2">
						<label for="text" class="form-label">Enter Source Text</label>
						<textarea class="form-control" id="text" name="text" placeholder="Enter Text Here"></textarea>

						<!-- <input type="search" class="form-control" name="Select Language" id="SelectLanguage" /> -->
					</div>
					<div class="mt-1 mb-3">
						<label for="language" class="form-label">Select Language</label>
						<input class="form-control" list="datalistOptions" id="language" name="language" placeholder="Hindi" />
						<datalist id="datalistOptions">
							<option value="hi">Hindi</option>
							<option value="ja">Japanese</option>
							<option value="ru">Russian</option>
							<option value="es-es">Spanish (Spain)</option>
							<option value="it">Italian</option>
						</datalist>
					</div>
					<button type="submit" class="btn btn-primary mb-2">Submit</button>
				</form>
			</div>
			<div class="col m-1 border border-dark-1 shadow rounded">
				<h3 class="alert alert-danger text-center mt-3">Translated Text</h3>
				<textarea disabled class="form-control" placeholder="Translated Text" name="translated" id="translated">
                    <%= locals.translatedText %>
                 </textarea
				>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footerPartials.ejs') %>
